@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
:focus{outline: none;}

.btn-link
{
  color: black; 
}



.login-form
{
   padding: 5%;
   box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 0          rgba(0, 0, 0, 0.02);
   float: none;
   margin: 0 auto;
   height: 100%;
   margin-top: 120px;
   border-radius: 5px;
   text-align: center;
  background-color: white;
}
.login-form .image-logo
{
  height: 60px;
}

.login-form input
{
  width: 100%;
}

.login-form .input-form
{
  position:relative;
}

.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}


.btn {
  border: none;
  background: #419aa6;
  color: #000000;
  font-size: 15px;
  border-radius: 10px;
  padding: 12px 50px;
  cursor: pointer;
}