<div class="container">
  <div class="col-lg-6 login-form">
      <img class="image-logo" src="https://cdn-icons-png.flaticon.com/512/6195/6195699.png" />
    <br>
    <br>
    <br>
    <h5> Recuperar Contraseña </h5>
    <p> Ingresa el correo electrónico, <br> mandaremos un enlace a tu correo electrónico </p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-form">
        <br>
      <input class="effect-1" placeholder="Correo Electronico" id="email" formControlName="email" type="email">
              <span class="focus-border"></span>
              <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                <small class="text-danger">El correo es obligatorio y debe ser válido.</small>
              </div>
      </div>
      
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Recuperar Contraseña </button>
      <br>
    </form>
    <div *ngIf="loading">Un momento, estamos procesando tu solicitud...</div>
    <div *ngIf="message">{{ message }}</div>
    
    <br>
    <a routerLink="/login"><button type="button" class="btn btn-link">Iniciar Sesión</button></a>
  </div>
</div>