
<div class="panel">
  <img class="panel__avatar" src="https://cdn-icons-png.flaticon.com/512/6195/6195699.png" alt="avatar" />
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="inputs__item">
      <label class="inputs__label" for="password">Escribre tu nueva contraseña</label>
      <input class="inputs__input" id="password" formControlName="password" type="password"  />
      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
        <small class="text-danger">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
    </div>
    <div class="inputs__item inputs__item--new">
      <label class="inputs__label" for="confirmPassword">Vuelve a escribir tu nueva contraseña</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password"  class="inputs__input" id="new-password"  />
      <div *ngIf="resetPasswordForm.errors?.['notMatching'] && resetPasswordForm.get('confirmPassword')?.touched">
        <small class="text-danger">Las contraseñas no coinciden.</small>
      </div>
    </div>
    <div class="inputs__item inputs__item--cta">
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Restablecer</button> 
    </div>
  </form>
  <p *ngIf="message">{{ message }}</p>
</div>