<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
<div class="container">
    <aside #sideMenu>
        <div class="top">
            <div class="logo">
                <img src="mi-logo.png" alt="logo"/>
                <h1>T-UPAO</h1>
            </div>
            <div class="close" id="close-btn" #closeBtn>
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#" >
                <span class="material-icons-sharp">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a routerLink="/testpageprincipal" >
                <span class="material-icons-sharp">quiz</span>
                <h3>Realizar Test</h3>
            </a>
            <a href="#" class="active">
                <span class="material-icons-sharp">description</span>
                <h3>Resultados</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">assignment_ind</span>
                <h3>Asesores</h3>
            </a>
            <a routerLink="/profile">
                <span class="material-icons-sharp">settings</span>
                <h3>Configuracion</h3>
            </a>
            <a (click)="logout()">
                <span class="material-icons-sharp">logout</span>
                <h3>Cerrar Sesion</h3>
            </a>
        </div>
    </aside>
    <main>
        <h1>Dashboard</h1>

        <div class="date">
            <input type="date">
        </div>


        <div class="recent-orders">
            <h1>Comparacion de carreras</h1>
            <div class="filter-section">
                <div class="filter">
                    <label for="carrera1">Elija la primera carrera a comparar:</label>
                    <select id="carrera1" (change)="onCarrera1Change($event)">
                        <option>Seleccionar Carrera</option>
                        <option *ngFor="let carrera of filteredCarreras" [value]="carrera.id">{{ carrera.nombre }}</option>
                    </select>
                </div>
        
                <div class="filter">
                    <label for="carrera2">Elija la segunda carrera a comparar:</label>
                    <select id="carrera2" (change)="onCarrera2Change($event)">
                        <option>Seleccionar Carrera</option>
                        <option *ngFor="let carrera of filteredCarreras" [value]="carrera.id">{{ carrera.nombre }}</option>
                    </select>
                </div>
            </div>
        
            <div class="careers">
                <div *ngIf="carreraSeleccionada1; else emptyCard1" class="card">
                    <h3>{{ carreraSeleccionada1.nombre }}</h3>
                    <img [src]="carreraSeleccionada1.img" alt="">
                    <h3>{{ carreraSeleccionada1.ubicacion.ciudad }}</h3>
                    <p>{{carreraSeleccionada1.descripcion}}</p>
                    <h3>Precio Mensual: </h3><p>{{carreraSeleccionada1.precioMensualidad}}</p>
                </div>
        
                <ng-template #emptyCard1>
                    <div class="empty-card">Selecciona una carrera</div>
                </ng-template>
        
                <div *ngIf="carreraSeleccionada2; else emptyCard2" class="card">
                    <h3>{{ carreraSeleccionada2.nombre }}</h3>
                    <img [src]="carreraSeleccionada2.img" alt="">
                    <h3>{{ carreraSeleccionada2.ubicacion.ciudad }}</h3>
                    <p>{{carreraSeleccionada2.descripcion}}</p>
                    <h3>Precio Mensual: </h3><p>{{carreraSeleccionada2.precioMensualidad}}</p>
                </div>
        
                <ng-template #emptyCard2>
                    <div class="empty-card">Selecciona una carrera</div>
                </ng-template>
            </div>
        </div>
    </main>

    <div class="right">
        <div class="top">
            <button id="menu-btn" #menuBtn>
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="theme-toggler" #themeToggler>
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info" *ngIf="user">
                    <p>Bienvenido, <b>{{user.firstName}}</b></p>
                </div>
                <div class="profile-photo">
                    <span class="material-icons-sharp">assignment_ind</span>
                </div>
            </div>
        </div>
    </div>
</div>











